@charset "UTF-8";
/* Селектори 
Назва тегу (наприклад body)  Універсальний
Назва тегу                   Тег
#                            ID
.                            Клас
[]                           Атрибут
.                            Нащадка
.                            Дочірній
*/
:root {
  --header_color_logo_studio_mail: #2196F3;
  --header_color_logo_p2: black;
  --header_color_2: #212121;
  --header_color_3: #757575;
  --footer_color_mail_tel: rgba(255, 255, 255, 0.6);
  --header_font_size: 14px;
  --header_line-height: 1.14;
  --first_background_page_color: #FFFFFF;
  --second_background_page_color: #2F303A;
  --third_background_page_color: #E5E5E5;
  --fours_background_page_color: #F5F4FA;
  --hover_color: #2196F3;
  --hover_btn_color: #188CE8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
}

.link {
  text-decoration: none;
  color: var(--header_color_2);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main_btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  color: var(--first_background_page_color);
  background-color: var(--header_color_logo_studio_mail);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main_btn:hover {
  background-color: var(--hover_btn_color);
}

.fsections {
  display: flex;
}

.firstfsection {
  margin-right: 70px;
}

.fcontacts {
  background-color: var(--second_background_page_color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.firstfsection__logo {
  margin-bottom: 20px;
}

.firstfsection__logoone {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--header_color_logo_studio_mail);
}

.firstfsection__logotwo {
  color: var(--first_background_page_color);
}

.firstfsection__list:not(:last-child) {
  margin-bottom: 9px;
}

.firstfsection__adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header_font_size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first_background_page_color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firstfsection__adress:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header_font_size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hover_color);
}
.firstfsection__adress:focus {
  color: var(--hover_color);
}

.firstfsection__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header_font_size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(225, 225, 225, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firstfsection__mail:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header_font_size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hover_color);
}
.firstfsection__mail:focus {
  color: var(--hover_color);
}

.firstfsection__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header_font_size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(225, 225, 225, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firstfsection__tel:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header_font_size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hover_color);
}
.firstfsection__tel:focus {
  color: var(--hover_color);
}

.secondfsection {
  margin-top: 12px;
  margin-right: 93px;
}

.secondfsection__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first_background_page_color);
  margin-bottom: 20px;
}

.secondfsection__list {
  display: flex;
}

.secondfsection__link:not(:last-child) {
  margin-right: 10px;
}

.secondfsection__button {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--first_background_page_color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondfsection__button:hover {
  background: var(--hover_color);
}
.secondfsection__button:focus {
  background: var(--hover_color);
}

.secondfsection__svg {
  margin: auto;
  text-align: center;
  display: block;
}

.thirdfsection {
  margin-top: 12px;
}

.thirdfsection__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first_background_page_color);
  margin-bottom: 20px;
}

.thirdfsection__list {
  display: flex;
}

.thirdfsection__input {
  width: 358px;
  height: 50px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
}

.thirdfsection__input[type=email] {
  color: var(--first_background_page_color);
}

.thirdfsection__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.thirdfsection__button {
  display: flex;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  color: var(--first_background_page_color);
  background-color: var(--header_color_logo_studio_mail);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thirdfsection__button:hover {
  background-color: var(--hover_btn_color);
}

.thirdfsection__svg {
  fill: var(--first_background_page_color);
  text-align: center;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--first_background_page_color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closebtn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__closebtn:hover {
  fill: var(--header_color_logo_studio_mail);
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__titlebox {
  text-align: center;
  margin-bottom: 12px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--header_color_2);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--header_color_3);
}

.form__fieldtitle {
  margin-bottom: 4px;
}

.form__date {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border: transparent;
  outline: transparent;
  padding-left: 42px;
}
.form__date:focus {
  border-color: var(--header_color_logo_studio_mail);
}

.form__fieldbox {
  position: relative;
  fill: var(--header_color_2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__fieldbox:hover {
  border-color: var(--header_color_logo_studio_mail);
  fill: var(--header_color_logo_studio_mail);
}
.form__fieldbox:focus {
  border-color: var(--header_color_logo_studio_mail);
  fill: var(--header_color_logo_studio_mail);
}

.form__date:focus + .form__svg {
  fill: var(--header_color_logo_studio_mail);
  border-color: var(--header_color_logo_studio_mail);
}

.form__svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form__comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--header_color_3);
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox:checked + .form__customcheckbox {
  border-color: var(--header_color_logo_studio_mail);
  background-color: var(--header_color_logo_studio_mail);
  background-image: url("../images/svg/Homework_6_5_chek.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.form__customcheckbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--header_color_2);
  border-radius: 2px;
}

.form__agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--header_color_3);
  text-align: center;
}

.form__comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__description {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__description:hover {
  border: 1px solid var(--header_color_logo_studio_mail);
}
.form__description:focus {
  outline: none;
  border: 1px solid var(--header_color_logo_studio_mail);
}

.form__description::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__description::placeholder:hover {
  color: var(--header_color_logo_studio_mail);
}

.form__agreement {
  margin-bottom: 30px;
}

.form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--header_color_logo_studio_mail);
}

.form__btnbox {
  text-align: center;
}

.form__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  color: var(--first_background_page_color);
  background-color: var(--header_color_logo_studio_mail);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover {
  background-color: var(--hover_btn_color);
}

.header_block {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ECECEC;
  border-width: 0px 0px 1px 0px;
}

.header_structure,
.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__links:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contacts__list + .contacts__list {
  margin-left: 50px;
}

.nav__logo {
  margin-right: 93px;
}

.nav__logoone {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header_color_logo_studio_mail);
}

.nav__logotwo {
  color: var(--header_color_logo_p2);
}

.nav__menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--header_font_size);
  line-height: var(--header_line-height);
  letter-spacing: 0.02em;
  color: var(--header_color_2);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__menu:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--header_font_size);
  line-height: var(--header_line-height);
  letter-spacing: 0.02em;
  color: var(--hover_color);
}
.nav__menu:focus {
  color: var(--hover_color);
}

.nav__active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--hover_color);
  border-radius: 2px;
}

.contacts__svg {
  margin-right: 10px;
  align-items: center;
  stroke: currentColor;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__svg:hover {
  color: var(--hover_color);
  stroke: var(--hover_color);
  fill: var(--hover_color);
}

.contacts__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--header_font_size);
  line-height: var(--header_line-height);
  letter-spacing: 0.02em;
  color: var(--header_color_3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--header_font_size);
  line-height: var(--header_line-height);
  letter-spacing: 0.02em;
  color: var(--hover_color);
}
.contacts__mail:focus {
  color: var(--hover_color);
}

.contacts__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--header_font_size);
  line-height: var(--header_line-height);
  letter-spacing: 0.02em;
  color: var(--header_color_3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--header_font_size);
  line-height: var(--header_line-height);
  letter-spacing: 0.02em;
  color: var(--hover_color);
}
.contacts__tel:focus {
  color: var(--hover_color);
}

.background {
  background-color: var(--second_background_page_color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.background {
  text-align: center;
}

.background__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first_background_page_color);
  margin-bottom: 30px;
}

.background__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  color: var(--first_background_page_color);
  background-color: var(--header_color_logo_studio_mail);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.background__btn:hover {
  background-color: var(--hover_btn_color);
}

.backgroundimg {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0px 200px 0px;
  flex-grow: 1;
}

.skills {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skills__box,
.whatwedo__box {
  display: flex;
}

.whatwedo__container {
  position: relative;
  overflow: hidden;
}

.whatwedo__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first_background_page_color);
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.skills__box {
  justify-content: space-between;
}
.skills__box .skills__list {
  width: 270px;
  text-align: left;
}

.skills__container {
  margin: 0;
  padding: 0;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fours_background_page_color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.skills__title {
  font-weight: 700;
  font-size: var(--header_font_size);
  line-height: var(--header_line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header_color_2);
  margin-bottom: 10px;
}

.skills__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header_color_3);
}

.whatwedo {
  padding-bottom: 94px;
}

.whatwedo__occupation {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header_color_2);
  margin-bottom: 50px;
}

.whatwedo__box {
  justify-content: space-between;
}

.whatwedo__list:not(:last-child) {
  margin-right: 30px;
}

.ourteam {
  background-color: var(--fours_background_page_color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourteam__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header_color_2);
  margin-bottom: 50px;
}

.ourteam__boxes {
  background-color: var(--first_background_page_color);
  box-sizing: content-box;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.ourteam__boxes:not(:last-child) {
  margin-right: 30px;
}

.ourteam__list {
  display: flex;
  justify-content: space-between;
}

.ourteam__items {
  display: flex;
  justify-content: center;
}

.ourteam__svg {
  margin: auto;
  text-align: center;
  display: block;
}

.ourteam__button {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--first_background_page_color);
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam__button:hover {
  border: none;
  background: var(--hover_color);
  fill: var(--first_background_page_color);
}
.ourteam__button:focus {
  background: var(--hover_color);
  fill: var(--first_background_page_color);
}

.ourteam__buttons:not(:last-child) {
  margin-right: 10px;
}

.ourteam__specialistph {
  margin-bottom: 30px;
}

.ourteam__specialistn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header_color_2);
  margin-bottom: 10px;
}

.ourteam__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header_color_3);
  margin-bottom: 16px;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header_color_2);
  margin-bottom: 50px;
}

.customers__list {
  display: flex;
  justify-content: center;
}

.customers__svg {
  margin: auto;
  text-align: center;
  display: block;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__item {
  background-color: var(--first_background_page_color);
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__link {
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  text-decoration: none;
  fill: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover {
  border: 1px solid #2196F3;
  fill: var(--hover_color);
}
.customers__link:focus {
  fill: var(--hover_color);
  border: 1px solid #2196F3;
  outline: none;
}

.header_style {
  background-color: var(--first_background_page_color);
}

.main_content {
  padding-top: 100px;
  padding-bottom: 94px;
}

.portfoliomenu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfoliomenu__links:not(:last-child) {
  margin-right: 8px;
}

.portfoliomenu__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header_color_2);
  background: #F5F4FA;
  border-radius: 4px;
  min-width: 73px;
  height: 38px;
  border: 0;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfoliomenu__btn:hover {
  color: var(--first_background_page_color);
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfoliomenu__btn:focus {
  /* outline: 2px solid black; */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfoliocards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfoliocards__content {
  margin-top: 0px;
  text-align: left;
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
  border-width: 0px 1px 1px 1px;
}

.portfoliocards__card {
  background-color: var(--first_background_page_color);
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfoliocards__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfoliocards__card:nth-child(3n+3) {
  margin-right: 0;
}

.portfoliocards__link {
  text-decoration: none;
}

.portfoliocards__card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfoliocards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header_color_2);
  margin-bottom: 4px;
}

.portfoliocards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--header_color_3);
}

.portfoliocards__card:hover .portfoliocards__description {
  transform: translateY(0%);
}

.portfoliocards__container {
  position: relative;
  overflow: hidden;
}

.portfoliocards__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  padding-top: 63px;
  transform: translateY(100%);
  transition: transform 300ms linear;
}/*# sourceMappingURL=main.css.map */